apiVersion: apps/v1
kind: Deployment
metadata:
  name: myapps
  namespace: kube
spec:
  replicas: 2
  selector:
    matchLabels:
      app: myapps
  template:
    metadata:
      labels:
        app: myapps
    spec:
      containers:
        - name: myapps
          image: saikrishna998/docker-app:latest
          ports:
            - containerPort: 80
